@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Noto Serif JP", ui-serif, serif;
  }
}

body, html {
    height: 100%;
    display: grid;
}

svg {
    display: inline-block;
    fill: currentColor;
    user-select: none;
}