@tailwind base;
@tailwind components;
@tailwind utilities;

.font-bold {
  font-family: 'Noto Serif Bold', serif;
}

body,
html {
  height: 100%;
  display: grid;
}

svg {
  display: inline-block;
  fill: currentColor;
  user-select: none;
}
